<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd 
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context.xsd 
http://www.springframework.org/schema/aop 
http://www.springframework.org/schema/aop/spring-aop.xsd 
http://www.springframework.org/schema/tx 
http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!-- 指定spring读取db.properties配置 -->

	<context:property-placeholder location="classpath:db.properties" />

	<!-- 使用Annotation自动注册Bean，解决事物失效问题：在主容器中不扫描@Controller注解，在SpringMvc中只扫描@Controller注解。 -->
	<!-- 他会默认扫描com.zhiyou100.crm包下及其子包的所有 有@Controller @Service @Repository 
		@resourse 这些注解的类，会把这些对象实例化之后放入容器中. -->
	<context:component-scan base-package="com.yl.page"><!-- base-package 
			如果多个，用“,”分隔 -->
		<!-- 告诉主容器不要扫描加有@Controller 这些类，这些bean 是由web容器进行管理的 -->
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<!-- 配置作业类 -->
	<bean id="job1"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<bean class="com.yl.page.job.ShowTimeJob" />
		</property>
		<property name="targetMethod" value="showTime" />
		<property name="concurrent" value="true" /><!-- 作业并发调度 -->
	</bean>

	<!-- CronTriggerBean，支持到指定时间运行一次，如每天12:00运行一次等。 -->
	<bean id="cronTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="job1" />
		<!-- 0 36 20 * * ? -->
		<!-- Cron生成器网址：http://cron.qqe2.com/ -->
		<property name="cronExpression" value="10/5 * * * * ?" />
	</bean>

		<!-- 配置工厂类 -->
		<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
			<property name="triggers">
				<list>
					<ref bean="cronTrigger" />
				</list>
			</property>
		</bean>

</beans>